<!DOCTYPE html>
<html>
  <head>
    <title>WhYBoLu Server List</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="shortcut icon" href="<%=bot.user.displayAvatarURL({ dynamic: true })%>">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontastic.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://file.myfontastic.com/da58YPMQ7U5HY8Rb6UxkNf/icons.css">
    <link href="https://use.fontawesome.com/99347ac47f.css" media="all" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
    <script src="https://use.fontawesome.com/99347ac47f.js"></script>
  </head>
  <body>
    <div class="page">
      <header class="header">
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <div class="navbar-header">
                <a href="/" class="navbar-brand d-none d-sm-inline-block">
                  <div class="brand-text d-none d-lg-inline-block"><span>WhYBoLu Server List </span><strong> Admin Panel</strong></div>
                  <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div></a>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <div class="page-content d-flex align-items-stretch"> 
        <nav class="side-navbar">
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="<%= bot.users.cache.get(req.user.id).displayAvatarURL({ dynamic: true }) %>" class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h4"><%= bot.users.cache.get(req.user.id).tag %></h1>
              <p>Admin</p>
            </div>
          </div>
          <span class="heading">Ana Menü</span>
          <ul class="list-unstyled">
            <li><a href="/admin"> <i class="fas fa-home"></i>Ana Sayfa </a></li>
            <li><a href="/admin/yetkili/liste"> <i class="fas fa-user"></i>Yetkililer </a></li>
            <li><a href="/admin/sikayet"> <i class="fas fa-flag"></i>Şikayetler </a></li>
            <li><a href="/cikis"> <i class="fas fa-sign-out-alt"></i>Çıkış Yap </a></li>
          </ul><span class="heading">Ekstra Menü</span>
          <ul class="list-unstyled">
            <li> <a href="/admin/yetkili/ekle"> <i class="fas fa-user"></i>Yetkili Ekle </a></li>
            <li class="active"> <a href="/admin/yetkili/kaldir"> <i class="fas fa-user"></i>Yetkili Kaldır </a></li>
            <li> <a href="/admin/sertifika/ver"> <i class="fas fa-certificate"></i>Sertifika Ver </a></li>
            <li> <a href="/admin/sertifika/kaldir"> <i class="fas fa-certificate"></i>Sertifika Kaldır </a></li>
          </ul>
        </nav>
        <div class="content-inner">
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Admin Panel</h2>
            </div>
          </header>
          <section class="feeds no-padding-top">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Yetkili Ekle</h3>
                    </div>
                    <div class="card-body">
                      <p>Lütfen kaldırılacak yetkilinin idsini aşağıdaki yere yazın.</p>
                      <form method="POST">
                        <div class="form-group">
                          <label class="form-control-label" for="yetkili">Yetkili</label>
                          <input type="number" id="yetkili" name="yetkili" for="yetkili" placeholder="Yetkili ID" class="form-control">
                        </div>
                        <br>
                        <button id="formbtn" class="save-btn btn btn-primary" type="submit"><i class="fa fa-save fa-fw"></i> Kaydet</button>
                      </form>
                    </div>
                  </div>
                </div> 
              </div>
            </div>
          </section>
          <footer class="main-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <p>WhYBoLu Server List &copy; 2020-2021</p>
                </div>
                <div class="col-sm-6 text-right">
                  <p><a href="/" class="external">TheClawNz#7987</a> Tarafından yapılmıştır.</p>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
